/* Fonts */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.eot');
  src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue.woff') format('woff'),
  url('../fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Bold.eot');
  src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
  url('../fonts/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #F1F1F1;
  font-family: 'HelveticaNeue';
  font-weight: 400;
}
a,
button,
input[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* container styles */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 auto;
  width: 1300px;
  max-width: 100%;
}

/* header styles */
.header {
  border-bottom: 1px solid #ACBDCE;
  background-color: #FFF;
  margin: 0 0 40px !important;
  padding: 40px 0 20px !important;
}
.header .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 50px !important;
}
.header__title {
  color: #23282D;
  font-size: 54px;
  font-weight: 700;
  line-height: 54px;
  margin: 0 !important;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__v {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 20px 0 0 !important;
}
.header__logo img {
  height: 60px;
  width: 50px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__nav a {
  color: #23282D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}
.header__nav a:hover,
.header__nav a.danger:hover,
.header__nav a:hover svg path {
  color: #0173AA;
  fill: #0173AA;
}
.header__nav a:not(:last-child) {
  margin: 0 30px 0 0 !important;
}
.header__nav a.active {
  color: #0173AA;
}
.header__nav a.danger {
  color: #D9263A
}
.header__nav a.danger svg {
  margin: 0 0 0 5px !important;
  height: 15px;
  width: 15px;
}
/* axis styles */
.axis * {  
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.axis__box {
  background-color: #FFF;
  -webkit-box-shadow: 0 2px 20px rgba(40, 84, 115, .1);
  box-shadow: 0 2px 20px rgba(40, 84, 115, .1);
  border-radius: 5px;
}
.axis__left {
  color: #363636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0 20px 0 0 !important;
  padding: 30px 30px 25px !important;
}
.axis__title {
  font-size: 29px;
  font-weight: 700;
  line-height: 29px;
  margin: 0 0 10px !important;
}
.axis__description {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin: 0 0 30px !important;
  text-align: center;
}
.axis__video {
  background-color: #EBEBEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 0 30px !important;
  height: 300px;
  width: 535px;
  max-width: 100%;
}
.axis__video img {
  cursor: pointer;
  height: 95px;
  width: 95px;
}
.axis__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 535px;
  max-width: 100%;
}
.axis__btn {
  background-color: #FFF;
  border: 1px solid #2BBF16;
  border-radius: 5px;
  color: #2BBF16;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  width: 255px;
}
.axis__btn:hover {
  background-color: #2BBF16;
  color: #FFF;
}
.axis__btn-green {
  background-color: #2BBF16;
  color: #FFF;
}
.axis__btn-green:hover {
  background-color: #008000;
  color: #FFF;
}
.axis__right {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 385px;
  max-width: 100%;
}
.axis__card {
  color: #000;
  padding: 20px !important;
  width: 100%;
}
.axis__card:not(:last-child) {
  margin: 0 0 20px !important;
}
.axis__card-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 20px !important;
}
.axis__card-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 25px !important;
}
.axis__card-link {
  color: #0173AA;
  display: block;  
}


/* Landscape phones and smaller */
@media (max-width: 480px) {
  /* header styles */
  .header {
    margin: 0 0 20px !important;
    padding: 20px 20px 0 !important;
  }
  .header__title {
    font-size: 23px;
    line-height: 35px;
  }
  .header__v {
    font-size: 12px;
    line-height: 16px;
  }
  .header__logo img {
    height: 43px;
    width: 37px;
  }
  .header__nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .header__nav a,
  .header__nav a:not(:last-child) {
    margin: 0 30px 20px 0 !important;
    width: calc(50% - 40px);
  }

  /* axis styles */
  .axis {
    margin: 0 10px !important;
  }
  .axis .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .axis__left {
    margin: 0 0 20px !important;
    padding: 20px 10px !important;
  }
  .axis__title {
    font-size: 27px;
    line-height: 30px;
    text-align: center;
  }
  .axis__description {
    padding: 0 10px !important;
  }
  .axis__description br {
    display: none;
  }
  .axis__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .axis__btn:not(:last-child) {
    margin: 0 0 20px !important;
  }
  .axis__right {
    width: 100%;
  }
}
