/* Fonts */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.eot');
  src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue.woff') format('woff'),
  url('../fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Medium.eot');
  src: url('../fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue-Medium.woff') format('woff'),
  url('../fonts/HelveticaNeue-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Bold.eot');
  src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
  url('../fonts/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
html {
  font-size: 10px;
}
body {
  background-color: #f7f9fc;
  font-family: 'HelveticaNeue';
  font-weight: 400;
}
a,
button,
input[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* challenge styles */
.challenge {
  color: #363636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 auto;
  width: 1550px;
  max-width: 100%;
}
.challenge h2 {
  font-size: 37px;
  line-height: 45px;
}
.challenge h3 {
  font-size: 29px;
  line-height: 35px;
}
.challenge h4,
.challenge__menu li {
  font-size: 23px;
  line-height: 28px;
}
.challenge h5 {
  font-size: 18px;
  line-height: 22px;
}
.challenge p {
  font-size: 18px;
  line-height: 30px;
}
.challenge__preview,
.challenge__menu li,
.challenge__todo,
.challenge__social {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 20px rgba(40, 84, 115, 0.1);
  box-shadow: 0 2px 20px rgba(40, 84, 115, 0.1);
  border-radius: 5px;
}
.challenge__aside {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 50px;
  width: 400px;
  max-width: 100%;
}
.challenge__preview {
  margin-bottom: 20px;
  padding: 20px;
}
.challenge__preview img {
  margin-bottom: 12px;
  width: 100%;
}
.challenge__preview h3 {
  font-weight: 500;
  text-align: center;
}
.challenge__menu-item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 14px 20px;
}
.challenge__menu-item:not(:last-child) {
  margin-bottom: 10px;
}
.challenge__menu-item svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 10px;
  width: 17px;
}
.challenge__menu-item.active {
  background-color: #1d86ff;
  color: #fff;
}
.challenge__menu-item.active svg path {
  fill: #fff;
}
.challenge__main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;  
}
.challenge__todo {
  display: none;
  margin-bottom: 30px;
  padding: 22px 30px 30px;
}
.challenge__todo.show {
  display: block;
}
.challenge__todo h2 {
  font-weight: 700;
  margin-bottom: 8px;
}
.challenge__todo h4 {
  margin-bottom: 20px;
}
.challenge__todo p {
  margin-top: 20px;
}
.challenge__list-item {
  background-color: #ffffff;
  border: 1px solid #acbdce;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 8px 10px;
}
.challenge__list-item:not(:last-child) {
  margin-bottom: 10px;
}
.challenge__list-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.challenge__list-number {
  background-color: #1d86ff;
  border-radius: 50%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  margin-right: 10px;
  height: 40px;
  width: 40px;
}
.challenge__list-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 20px;
}
.challenge__list-right button {  
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 10px;
  padding: 0;
  height: 20px;
  width: 20px;
}
.challenge__list-right button img {
  height: 100%;
  width: 100%;
}
.challenge__list-check {
  border: 2px solid #acbdce;
  border-radius: 50%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 40px;
  width: 40px;
}
.challenge__list-item.done .challenge__list-check {
  background: url(../img/checkmark-green.svg) center no-repeat;
  border: none;
}
.challenge__social {
  padding: 35px 35px 40px;
  text-align: center;
}
.challenge__social h3 {
  color: #1d86ff;
  font-weight: 700;
  line-height: 46px;
  text-transform: uppercase;
}
.challenge__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 34px;
}
.challenge__social-links a {
  display: block;
  height: 40px;
  width: 40px;
}
.challenge__social-links a:not(:last-child) {
  margin-right: 25px;
}
.challenge__social-links a img {
  width: 100%;
  height: 100%;
}

/* Landscape phones and smaller */
@media (max-width: 1024px) {
  .challenge {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px 10px;
  }
  .challenge h2 {
    font-size: 29px;
    line-height: 35px;
  }
  .challenge h3 {
    font-size: 26px;
    line-height: 32px;
  }
  .challenge h4,
  .challenge__menu li,
  .challenge h5 {
    font-size: 18px;
    line-height: 22px;
  }
  .challenge__aside {
    width: 100%;
  }
  .challenge__menu {
    display: none;
  }
  .challenge__todo {
    padding: 14px 8px;
  }
}