/* Fonts */
@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeue.eot');
	src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeue.woff') format('woff'),
	url('../fonts/HelveticaNeue.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeue-Bold.eot');
	src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
	url('../fonts/HelveticaNeue-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Reset CSS */
*, *::before, *::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
body {
	line-height: 1;
}
html {
	font-size: 10px;
}
body {
	background-color: #f7f9fc;
	font-family: 'HelveticaNeue';
	font-weight: 400;
}
a,
button,
input[type=submit] {
	-moz-appearance: none;
	-webkit-appearance: none;
}

/* focus style */
.focus {
	color: #363636;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	overflow: hidden;
	min-height: 100vh;
}
.focus h2 {
	font-size: 37px;
	line-height: 30px;
}
.focus h3 {
	font-size: 23px;
	line-height: 28px;
}
.focus h4 {
	font-size: 18px;
	line-height: 30px;
}
.focus h5 {
	font-size: 18px;
	line-height: 22px;
}
.focus p {
	font-size: 18px;
	line-height: 30px;
}
.focus__button-back,
.focus__button-menu,
.focus__button-start,
.focus__button-prev,
.focus__button-next,
.focus__button-finish {
	cursor: pointer;
}
.focus__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 55px;
	width: 100%;
	z-index: 999;
}
.focus__header-aside,
.focus__aside {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 450px;
	max-width: 100%;
}
.focus__header-aside {
	background-color: #6e6e6e;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 20px;
	height: 100%;
}
.focus__header-main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	height: 100%;
}
.focus__aside,
.focus__main {
	margin-top: 55px;
}
.focus__aside {
	background-color: #ffffff;
	-webkit-box-shadow: 4px 0 10px rgba(0, 0, 0, 0.03);
	box-shadow: 4px 0 10px rgba(0, 0, 0, 0.03);
	-ms-flex-negative: 0;
	flex-shrink: 0;
	overflow-y: auto;
	position: relative;
	min-height: 100%;
}
.focus__aside.show {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
.focus__button-back {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}
.focus__button-back svg {
	height: 30px;
	width: 30px;
}
.focus__button-menu {
	display: none;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 50px;
	width: 50px;
}
.focus__button-menu>div {
	background: url(../img/bars-solid.svg) center / 100% 100% no-repeat;
	height: 22px;
	width: 26px;
}
.focus__button-menu.open>div {
	background: url(../img/times-solid.svg) center / 100% 100% no-repeat;
	height: 22px;
	width: 22px;
}
.focus__progress {
	padding: 25px 20px;
}
.focus__progress h3 {
	font-weight: 700;
	margin-bottom: 15px;
}
.focus__progressbar {
	background-color: #e1e7ed;
	border-radius: 5px/5px;
	margin-bottom: 5px;
	position: relative;
	height: 5px;
	width: 100%;
}
.focus__progressbar-line {
	background-color: #2bbf16;
	border-radius: 5px/5px;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 1;
}
.focus__progress h5 span {
	color: #2bbf16;
	font-weight: 700;
}
.focus__list {
	margin-bottom: 20px;
}
.focus__list-title {
	background-color: #f8f8f8;
	border: 1px solid rgba(172, 189, 206, .5);
	border-bottom: 0;
	font-weight: 700;
	padding: 16px 20px;
}
.focus__list-item {
	border: 1px solid rgba(172, 189, 206, .5);
	border-bottom: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}
.focus__list-item:last-of-type {
	border-bottom: 1px solid rgba(172, 189, 206, .5);
}
.focus__list-item.active {
	border: none;
}
.focus__list-check,
.focus__list-data {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 53px;
}
.focus__list-check {
	border-right: 1px solid rgba(172, 189, 206, .5);
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 53px;
}
.focus__list-item.active .focus__list-check {
	background-color: #0aa80a;
	border-right: none;
	width: 54px;
}
.focus__list-check svg {
	border: 2px solid #acbdce;
	background-color: #fff;
	border-radius: 50%;
	height: 20px;
	width: 20px;
}
.focus__list-item.done.active .focus__list-check svg,
.focus__list-item.done .focus__list-check svg {
	background-color: transparent;
	border: none;
}
.focus__list-item.done.active .focus__list-check svg path {
	fill: #fff;
}
.focus__list-item.done .focus__list-check svg path {
	fill: #2bbf16;
}
.focus__list-data {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 0 20px;
}
.focus__list-item.active .focus__list-data {
	background-color: #2bbf16;
	color: #fff;
}
.focus__list-data svg {
	margin-right: 20px;
}
.focus__list-item.active .focus__list-data svg path {
	fill: #fff;
}
.focus__main {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	overflow-y: auto;
	position: relative;
}
.focus__button-start,
.focus__button-prev,
.focus__button-next,
.focus__button-finish {
	color: #ffffff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	height: 100%;
}
.focus__button-start h4,
.focus__button-prev h4,
.focus__button-next h4,
.focus__button-finish h4 {
	margin: 0 7px;
}
.focus__button-start svg,
.focus__button-prev svg,
.focus__button-next svg,
.focus__button-finish svg {
	height: 15px;
}
.focus__button-start {
	background-color: #2bbf16;
}
.focus__button-start svg {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.focus__button-prev {
	background-color: #008000;
	width: 50%;
}
.focus__button-next {
	background-color: #2bbf16;
	width: 50%;
}
.focus__button-next svg {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.focus__button-finish {
	background-color: #2bbf16;
	width: 50%;
}
.focus__button-finish svg path {
	fill: #fff;
}
.focus__content {
	padding: 50px 50px 50px 56px;
}
.focus__info {
	background-color: #ffffff;
	-webkit-box-shadow: 0 2px 20px rgba(40, 84, 115, 0.1);
	box-shadow: 0 2px 20px rgba(40, 84, 115, 0.1);
	padding: 22px 30px 30px;
}
.focus__info h2 {
	font-weight: 700;
	margin-bottom: 18px;
}

/* focus: overview styles */
.focus__overview {
	margin: 0 auto;
	width: 975px;
	max-width: 100%;
}
.focus__overview-container {
	background-color: #ffffff;
	-webkit-box-shadow: 0 2px 20px rgba(40, 84, 115, 0.1);
	box-shadow: 0 2px 20px rgba(40, 84, 115, 0.1);
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 30px;
}
.focus__overview h2 {
	border-bottom: 1px solid #e1e7ed;
	font-weight: 700;
	margin-bottom: 25px;
	padding-bottom: 22px;
}
.focus__overview-list:not(:last-child) {
	margin-bottom: 30px;
}
.focus__overview-list li {
	border: 1px solid #acbdce;
	border-radius: 5px;
	color: #000000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-size: 23px;
	line-height: 28px;
	padding: 15px 20px;
}
.focus__overview-list li:first-child {
	background-color: #f8f8f8;
	font-weight: 700;
}
.focus__overview-list li:not(:last-child) {
	margin-bottom: 10px;
}
.focus__overview-left,
.focus__overview-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 23px;
	line-height: 28px;
}
.focus__overview-left svg {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-right: 20px;
	width: 20px;
}
.focus__overview-right {
	margin-left: 30px;
	text-align: center;
	width: 80px;
}
.focus__button-view {
	background-color: #2bbf16;
	border: none;
	border-radius: 5px;
	color: #ffffff;
	font-size: 18px;
	line-height: 22px;
	padding: 5px 20px;
}
.focus__overview-right svg {
	display: none;
	width: 20px;
}
.focus__overview-list.lock .focus__button-view {
	display: none;
}
.focus__overview-list.lock .focus__overview-right svg {
	display: block;
}
.focus__overview-more {
	background-color: #2bbf16;
	-webkit-box-shadow: 0 2px 20px rgba(40, 84, 115, 0.1);
	box-shadow: 0 2px 20px rgba(40, 84, 115, 0.1);
	border-radius: 5px;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 auto 70px;
	height: 60px;
	width: 70px;
}
.focus__overview-more svg {
	width: 30px;
}

/* Landscape phones and smaller */
@media (max-width: 1024px) {
	.focus h2 {
		font-size: 23px;
	}
	.focus__header {
		height: 50px;
	}
	.focus__header-aside {
		padding: 0;
		width: 100px;
	}
	.focus__aside,
	.focus__main {
		margin-top: 50px;
	}
	.focus__aside.show {
		width: 50%;
	}
	.focus__button-back {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		width: 50px;
	}
	.focus__button-menu {
		background-color: #2bbf16;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.focus__aside {
		display: none;
	}
	.focus__button-start {
		border-left: 1px solid #fff
	}
	.focus__button-prev h4,
	.focus__button-next h4 {
		display: none;
	}
	.focus__button-start svg,
	.focus__button-prev svg,
	.focus__button-next svg,
	.focus__button-finish svg {
		height: 25px;
	}
	.focus__content {
		padding: 40px 10px;
	}
	.focus__overview {
		padding: 20px 10px;
	}
	.focus__overview-left svg {
		margin-right: 10px;
		width: 15px;
	}
	.focus__overview-container {
		padding: 10px;
	}
	.focus__overview h2 {
		font-size: 29px;
		line-height: 40px;
		margin-bottom: 16px;
		padding-bottom: 12px;
	}
	.focus__overview-list li {
		padding: 12px 10px;
	}
	.focus__overview-left,
	.focus__overview-right {
		font-size: 18px;
		line-height: 22px;
	}
}
@media (max-width: 768px) {
	.focus__aside.show {
		width: 75%;
	}
}
@media (max-width: 480px) {
	.focus__aside.show {
		width: 100%;
	}
}