/* Fonts */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.eot');
  src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue.woff') format('woff'),
  url('../fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Bold.eot');
  src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
  url('../fonts/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}

html {
  font-size: 10px;
}

body {
  font-family: 'HelveticaNeue';
  font-weight: 400;
}

a,
button,
input[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* course styles */
.course {
  background-color: #f2f2f2;
  color: #363636;
  margin: 0 auto;
  padding: 34px 45px 85px;
  width: 490px;
}
.course__progress,
.course__navigation {
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 20px rgba(40, 84, 115, 0.1);
          box-shadow: 0 2px 20px rgba(40, 84, 115, 0.1);
}
.course__title {
  font-size: 23px;
  font-weight: 700;
  text-align: center;
}

/* progress styles */
.course__progress {
  margin-bottom: 29px;
  padding: 15px 19px 26px;
}
.course__progress .course__title {
  margin-bottom: 24px;
}
.course__progress-container {
  background-color: #e1e7ed;
  position: relative;
  height: 5px;
}
.course__progress-bar {
  background-color: #2bbf16;
  height: 100%;
}
.course__progress-percents {
  background-color: #fff;
  color: #2bbf16;
  display: block;
  font-size: 23px;
  font-weight: 700;
  padding: 0 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* navigation styles */
.course__navigation {
  padding: 17px 19px 35px;
}
.course__navigation .course__title {
  border-bottom: 1px solid #e1e7ed;
  padding-bottom: 20px;
}
.course__element {
  padding-top: 25px;
}
.course__element p {
  font-size: 18px;
}
.course__element-toggler {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.course__element-toggler img {
  margin-right: 10px;
  height: 10px;
  width: 15px;
}

.course__list {
  display: none;
  margin-left: 25px;
}
.course__list.show {
  display: block;
}
.course__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.course__list li:not(:last-child) {
  margin-bottom: 20px;
}
.course__list li img,
.course__list li i {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 5px;
  height: 20px;
  width: 20px;
}
.course__list li img.icon-check {
  padding: 0;
}
.course__list li img.icon-lock {
  padding: 5px;
}
.course__list li img.icon-cap {
  padding: 2px;
}
.course__list img.circle-green  {
  background-color: #2bbf16;
}
.course__list img.circle-green.icon-check {
  background-color: #ffffff;
}
.course__list img.circle-black  {
  background-color: #363636;
}
.course__list .circle-white {
  background-color: #ffffff;
  border: 2px solid #acbdce;
}
