/* Fonts */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.eot');
  src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue.woff') format('woff'),
  url('../fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Bold.eot');
  src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
  url('../fonts/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
html {
  font-size: 10px;
}
body {
  background-color: #f7f9fc;
  font-family: 'HelveticaNeue';
  font-weight: 400;
}
a,
button,
input[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* learn styles */
.learn {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 20px rgba(40, 84, 115, 0.1);
  box-shadow: 0 2px 20px rgba(40, 84, 115, 0.1);
  margin: 0 auto;
  width: 1550px;
  max-width: 100%;
}
.learn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 40px 30px 30px;
}
.learn__marker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  height: auto;
  width: 40px;
}
.learn__marker:before,
.learn__marker:after {
  content: "";
  background-color: #ACBDCE;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 13px;
  width: 13px;
  z-index: 9;
}
.learn__marker:before {
  top: 0;
}
.learn__marker:after {
  bottom: 0;
}
.learn__marker-line {
  background-color: #ACBDCE;
  position: relative;
  height: 100%;
  width: 2px;
}
.learn__marker .learn__marker-green {
  display: none;
}
.learn__marker.completed .learn__marker-green {
  background-color: #2bbf16;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 0;
  width: 2px;
}
.learn__marker.completed:before {
  background-color: #2bbf16;
}
.learn__content {
  margin-left: 20px;
  padding-bottom: 30px;
}
.learn__title {
  margin-bottom: 10px;
}
.learn__title:not(:first-of-type) {
  padding-top: 10px;
}
.learn__title h2 {
  font-size: 29px;
  font-weight: 700;
  line-height: 35px;
}
.learn__title p {
  font-size: 18px;
  line-height: 30px;
  padding: 10px 0 20px;
}
.learn__section {
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}
.learn__section-title {
  background-color: #ffffff;  
  border: 1px solid #acbdce;
  border-radius: 5px;
  color: #363636;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 20px;
  position: relative;
}
.learn__section-title h3 {
  font-size: 23px;
  font-weight: 400;
  line-height: 28px;
}
.learn__collapse {
  border: 1px solid #acbdce;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  position: relative;
  top: -2px;
}
.learn__section.done .learn__section-title {
  background-color: #1d86ff;
  border: none;
  color: #ffffff;
}
.learn__section.disabled {
  cursor: not-allowed;
}
.learn__section.disabled .learn__section-title {
  background-color: #e1e7ed;
  pointer-events: none;
}
.learn__number {
  background-color: #ffffff;
  border: 3px solid #acbdce;
  border-radius: 50%;
  color: #acbdce;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
  position: absolute;
  top: 50%;
  left: -60px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  z-index: 9;
}
.learn__number:before {
  content: "";
  background-color: #ACBDCE;
  position: absolute;
  top: 50%;
  right: -23px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 2px;
  width: 20px;
}
.learn__section.complete .learn__number {
  background: url(../img/checkmark-green.svg) center no-repeat;
  border: none;
}
.learn__section.complete .learn__number span {
  display: none;
}
.learn__section.complete .learn__number:before {
  background-color: #2bbf16;
  right: -20px;
}
.learn__sort path {
  fill: #1d86ff;
}
.learn__section.open .learn__sort {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.learn__section.done .learn__sort path {
  fill: #ffffff;
}
.learn__section .learn__lock {
  display: none;
}
.learn__section.disabled .learn__sort {
  display: none;
}
.learn__section.disabled .learn__lock {
  display: block;
}
.learn__section.open .learn__collapse {
  display: block;
}
.learn__collapse {
  display: none;
}
.learn__section-text {
  font-size: 17px;
  line-height: 28px;
  padding: 20px;
}
.learn__section-button {
  padding: 0 20px 20px;
  text-align: right;
}
.learn__section-button button {
  background-color: #2bbf16;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  line-height: 30px;
  padding: 13px 20px;
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  /* learn styles */
  .learn__container {
    padding: 28px 10px 40px 14px;
  }
  .learn__marker {
    width: 9px;
  }
  .learn__marker:before,
  .learn__marker:after {
    height: 9px;
    width: 9px;
  }
  .learn__content {
    margin-left: 14px;
  }
  .learn__title {
    background-color: #ffffff;
    border: 1px solid #acbdce;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 20px;
  }
  .learn__title:not(:first-of-type) {
    margin-top: 20px;
    padding-top: 20px;
  }
  .learn__title h2 {
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 0;
  }
  .learn__title p {
    color: #363636;
  }
  .learn__section {
    margin-bottom: 10px;
  }
  .learn__section-title {
    padding: 15px 20px 15px 75px;
  }
  .learn__number {
    font-size: 20px;
    left: 20px;
    height: 35px;
    width: 35px;
  }
  .learn__number span {
    padding-bottom: 3px;
  }
  .learn__number:before {
    right: auto;
    left: calc(-100% - 14px);
    width: 18.5px;
  }
  .learn__section.complete.done .learn__number {
    background: url(../img/checkmark-white.svg) center no-repeat;
    border: none;
  }
  .learn__section.complete .learn__number:before {
    right: auto;
    left: calc(-100% - 3.5px);
  }
  .learn__section-text {
    line-height: 30px;
    padding: 30px 10px;
  }
}
