/* Fonts */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.eot');
  src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue.woff') format('woff'),
  url('../fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Bold.eot');
  src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
  url('../fonts/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
html {
  font-size: 10px;
}
body {
  background-color: #f7f9fc;
  font-family: 'HelveticaNeue';
  font-weight: 400;
}
a,
button,
input[type=submit] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* plan styles */
.plan {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 20px rgba(40, 84, 115, 0.1);
  box-shadow: 0 2px 20px rgba(40, 84, 115, 0.1);
  margin: 0 auto;
  width: 1550px;
  max-width: 100%;
}
.plan h2 {
  font-size: 37px;
  line-height: 45px;
}
.plan h3 {
  font-size: 29px;
  line-height: 35px;
}
.plan h4 {
  font-size: 23px;
  line-height: 28px;
}
.plan h5 {
  font-size: 18px;
  line-height: 28px;
}
.plan p,
.plan__button {
  font-size: 18px;
  line-height: 30px;
}
.plan__button {
  background-color: #2bbf16;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 13px 20px;
}
.plan__circle {
  background-color: #ffffff;
  border: 3px solid #acbdce;
  border-radius: 50%;
  position: relative;
  height: 46px;
  width: 46px;
}
.plan__title.circle-on .plan__circle:before {
  content: "";
  background-color: #2bbf16;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 18px;
  width: 18px;
}
.plan__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px;
}
.plan__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 30px;
}
.plan__intro-img {
  border: 1px solid #707070;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 150px;
  width: 150px;
}
.plan__intro-img img {
  height: 100%;
  width: 100%;
}
.plan__intro-description {
  -webkit-box-flex: 1px;
  -ms-flex-positive: 1px;
  flex-grow: 1px;
  margin-left: 17px;
}
.plan__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.plan__title.check {
  margin-bottom: 10px;
}
.plan__title.circle {
  margin-bottom: 17px;
}
.plan__title.check .plan__circle {
  display: none;
}
.plan__title.circle svg {
  display: none;
}
.plan__title-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.plan__title-group h3 {
  font-weight: 700;
  margin-left: 10px;
}
.plan__title p {
  padding-left: 56px;
}
.plan__section {
  margin-bottom: 10px;
}
.plan__section.check .plan__section-icons svg {
  display: block;
  height: 46px;
  width: 46px;
}
.plan__section.check .plan__section-icons .plan__circle {
  display: none;
}
.plan__section.circle .plan__section-icons svg {
  display: none;
}
.plan__section.circle .plan__section-icons .plan__circle {
  display: block;
}
.plan__section.disabled {
  cursor: not-allowed;
}
.plan__section.disabled .plan__section-title {
  background-color: #e1e7ed;
  pointer-events: none;
}
.plan__section.disabled .plan__sort {
  display: none;
}
.plan__section.open .plan__sort svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.plan__section.done .plan__sort svg path {
  fill: #fff;
}
.plan__section .plan__lock {
  display: none;
}
.plan__section.disabled .plan__lock {
  display: block;
}
.plan__section-title {
  border: 1px solid #acbdce;
  border-radius: 5px;
  color: #363636;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 6px 20px;
}
.plan__section.done .plan__section-title {
  background-color: #1d86ff;
  border: none;
  color: #ffffff;
}
.plan__section.check.done .plan__section-icons svg path {
  fill: #fff;
}
.plan__section.check.done .plan__section-icons svg g {
  fill: #1d86ff;
}
.plan__section-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.plan__section-group h3 {
  margin-left: 10px;
}
.plan__collapse {
  border: 1px solid #acbdce;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  display: none;
  padding: 25px 20px;
  position: relative;
  top: -3px;
}
.plan__section.open .plan__collapse {
  display: block;
}
.plan__section-text {
  color: #363636;
}
.plan__section-button {
  padding-top: 25px;
  text-align: right;
}
.plan__assesstment {
  background-color: #ffffff;
  border: 1px solid #acbdce;
  border-radius: 5px;
  margin: 10px 0 20px;
  padding: 30px;
  text-align: center;
}
.plan__assesstment h4 {
  font-weight: 700;
  margin-bottom: 8px;
}
.plan__assesstment h5 {
  margin-bottom: 23px;
}
.plan__assesstment h5 span {
  color: #2bbf16;
  font-weight: 700;
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .plan h2 {
    font-size: 27px;
    line-height: 35px;
  }
  .plan h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .plan__container {
    padding: 10px;
  }
  .plan__intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .plan__intro-img {
    height: 200px;
    width: 200px;
  }
}
